Repository SpaceStationUA/Goob-Station, pull requests merged in 2025-08, with the labels that each got.

#66 UwU
  Resources/Prototypes/_Pirate/Entities/Structures/Walls/MountainRock.yml
  Resources/Textures/_Pirate/Structures/Walls/mountain_rock.rsi/full.png
  Resources/Textures/_Pirate/Structures/Walls/mountain_rock.rsi/meta.json
  Resources/Textures/_Pirate/Structures/Walls/mountain_rock.rsi/rock_0.png
  Resources/Textures/_Pirate/Structures/Walls/mountain_rock.rsi/rock_1.png
  Resources/Textures/_Pirate/Structures/Walls/mountain_rock.rsi/rock_2.png
  Resources/Textures/_Pirate/Structures/Walls/mountain_rock.rsi/rock_3.png
  Resources/Textures/_Pirate/Structures/Walls/mountain_rock.rsi/rock_4.png
  Resources/Textures/_Pirate/Structures/Walls/mountain_rock.rsi/rock_5.png
  Resources/Textures/_Pirate/Structures/Walls/mountain_rock.rsi/rock_6.png
  Resources/Textures/_Pirate/Structures/Walls/mountain_rock.rsi/rock_7.png
Labels: size/S

#68 remove whitelist requirements
  Resources/Prototypes/Roles/Jobs/Cargo/quartermaster.yml
  Resources/Prototypes/Roles/Jobs/Command/captain.yml
  Resources/Prototypes/Roles/Jobs/Command/head_of_personnel.yml
  Resources/Prototypes/Roles/Jobs/Engineering/chief_engineer.yml
  Resources/Prototypes/Roles/Jobs/Medical/chief_medical_officer.yml
  Resources/Prototypes/Roles/Jobs/Science/research_director.yml
  Resources/Prototypes/Roles/Jobs/Security/head_of_security.yml
  Resources/Prototypes/_Goobstation/Roles/Jobs/Dignitary/blueshield_officer.yml
  Resources/Prototypes/_Goobstation/Roles/Jobs/Dignitary/nanotrasen_representative.yml
  Resources/Prototypes/_Pirate/Roles/Jobs/Command/administrative_assistant.yml
Labels: size/S

#67 update mercenary shuttle
  Resources/Maps/_Pirate/Shuttles/Qazmlp/st_merc.yml
Labels: size/M

#69 Bluesec 2
  Resources/Locale/uk-UA/preferences/loadout-groups.ftl
  Resources/Prototypes/Loadouts/Jobs/Security/security_cadet.yml
  Resources/Prototypes/Loadouts/loadout_groups.yml
  Resources/Prototypes/Loadouts/role_loadouts.yml
  Resources/Prototypes/_NF/Entities/Clothing/Back/messenger.yml
  Resources/Prototypes/_Pirate/Entities/Clothing/OuterClothing/armor.yml
  Resources/Prototypes/_Pirate/Entities/Clothing/Uniforms/jumpsuits.yml
  Resources/Prototypes/_Pirate/Loadouts/role_loadouts.yml
  Resources/Prototypes/radio_channels.yml
  Resources/Textures/Clothing/Back/Duffels/security.rsi/equipped-BACKPACK.png
  Resources/Textures/Clothing/Back/Duffels/security.rsi/icon.png
  Resources/Textures/Clothing/Back/Duffels/security.rsi/inhand-left.png
  Resources/Textures/Clothing/Back/Duffels/security.rsi/inhand-right.png
  Resources/Textures/Clothing/Back/Satchels/security.rsi/equipped-BACKPACK.png
  Resources/Textures/Clothing/Back/Satchels/security.rsi/icon.png
  Resources/Textures/Clothing/Back/Satchels/security.rsi/inhand-left.png
  Resources/Textures/Clothing/Back/Satchels/security.rsi/inhand-right.png
  Resources/Textures/Clothing/OuterClothing/Coats/warden.rsi/equipped-OUTERCLOTHING-resomi.png
  Resources/Textures/Clothing/OuterClothing/Coats/warden.rsi/equipped-OUTERCLOTHING-vox.png
  Resources/Textures/Clothing/OuterClothing/Coats/warden.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/Clothing/OuterClothing/Coats/warden.rsi/icon.png
  Resources/Textures/Clothing/OuterClothing/Coats/warden.rsi/inhand-left.png
  Resources/Textures/Clothing/OuterClothing/Coats/warden.rsi/inhand-right.png
  Resources/Textures/Clothing/Uniforms/Jumpsuit/hos.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/Interface/Misc/job_icons.rsi/Captain.png
  Resources/Textures/Interface/Misc/job_icons.rsi/HeadOfSecurity.png
  Resources/Textures/Interface/Misc/job_icons.rsi/SecurityCadet.png
  Resources/Textures/Interface/Misc/job_icons.rsi/SecurityOfficer.png
  Resources/Textures/_Goobstation/Clothing/Head/Helmets/security.rsi/equipped-HELMET.png
  Resources/Textures/_Goobstation/Clothing/Head/Helmets/security.rsi/icon.png
  Resources/Textures/_Goobstation/Clothing/Head/Helmets/security.rsi/inhand-left.png
  Resources/Textures/_Goobstation/Clothing/Head/Helmets/security.rsi/inhand-right.png
  Resources/Textures/_Pirate/Clothing/OuterClothing/Armor/security_cadet.rsi/equipped-OUTERCLOTHING-resomi.png
  Resources/Textures/_Pirate/Clothing/OuterClothing/Armor/security_cadet.rsi/equipped-OUTERCLOTHING-vox.png
  Resources/Textures/_Pirate/Clothing/OuterClothing/Armor/security_cadet.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/_Pirate/Clothing/OuterClothing/Armor/security_cadet.rsi/icon.png
  Resources/Textures/_Pirate/Clothing/OuterClothing/Armor/security_cadet.rsi/inhand-left.png
  Resources/Textures/_Pirate/Clothing/OuterClothing/Armor/security_cadet.rsi/inhand-right.png
  Resources/Textures/_Pirate/Clothing/OuterClothing/Armor/security_cadet.rsi/meta.json
  Resources/Textures/_Pirate/Clothing/Uniforms/Jumpsuit/security_cadet.rsi/equipped-INNERCLOTHING-monkey.png
  Resources/Textures/_Pirate/Clothing/Uniforms/Jumpsuit/security_cadet.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/_Pirate/Clothing/Uniforms/Jumpsuit/security_cadet.rsi/icon.png
  Resources/Textures/_Pirate/Clothing/Uniforms/Jumpsuit/security_cadet.rsi/inhand-left.png
  Resources/Textures/_Pirate/Clothing/Uniforms/Jumpsuit/security_cadet.rsi/inhand-right.png
  Resources/Textures/_Pirate/Clothing/Uniforms/Jumpsuit/security_cadet.rsi/meta.json
Labels: size/S

#70 upstream changes
  Content.Server/Atmos/EntitySystems/FlammableSystem.cs
  Content.Server/Objectives/Systems/PickObjectiveTargetSystem.cs
  Content.Server/_DV/CosmicCult/CosmicCultRuleSystem.cs
  Content.Server/_Shitcode/Heretic/EntitySystems/HereticSystem.cs
  Content.Shared/Buckle/Components/BuckleComponent.cs
  Content.Shared/Buckle/Components/StrapComponent.cs
  Content.Shared/Buckle/SharedBuckleSystem.Buckle.cs
  Resources/Changelog/GoobChangelog.yml
  Resources/Prototypes/Entities/Mobs/NPCs/pets.yml
  Resources/Prototypes/Entities/Mobs/Player/ShuttleRoles/settings.yml
  Resources/Prototypes/Entities/Mobs/Player/familiars.yml
  Resources/Prototypes/Entities/Mobs/Player/humanoid.yml
  Resources/Prototypes/Entities/Mobs/Species/moth.yml
  Resources/Prototypes/Entities/Structures/Power/Generation/Tesla/energyball.yml
  Resources/Prototypes/Entities/Structures/Power/chargers.yml
  Resources/Prototypes/GameRules/midround.yml
  Resources/Prototypes/GameRules/roundstart.yml
  Resources/Prototypes/Voice/speech_emote_sounds.yml
  Resources/Prototypes/_DV/CosmicCult/roundstart.yml
  Resources/Prototypes/_EinsteinEngines/Entities/Modsuits/praetorian.yml
  Resources/Prototypes/_Goobstation/Catalog/uplink_catalog.yml
  Resources/Prototypes/_Goobstation/Entities/Mobs/Player/admeme.yml
  Resources/Prototypes/_Goobstation/Entities/Objects/Vehicles/vehicles.yml
  Resources/Prototypes/_Goobstation/GameRules/midround.yml
  Resources/Prototypes/_Goobstation/GameRules/roundstart.yml
  Resources/Prototypes/_Goobstation/Heretic/GameRules/roundstart.yml
  Resources/Prototypes/_Goobstation/Heretic/Heretic/heretic_rituals.yml
  Resources/Prototypes/_Goobstation/Wizard/Clothing/wizard.yml
  Resources/Prototypes/_Goobstation/Wizard/gamerules_wizard.yml
  Resources/Prototypes/_Shitmed/GameRules/events.yml
Labels: size/M

#73 Feature/upstream
  Content.Goobstation.Common/Flash/FlashVulnerableComponent.cs
  Content.Goobstation.Server/Flashbang/FlashbangSystem.cs
  Content.Server/Chat/Systems/ChatSystem.cs
  Content.Server/Flash/FlashSystem.cs
  Resources/Changelog/GoobChangelog.yml
  Resources/Prototypes/Entities/Mobs/NPCs/animals.yml
  Resources/Prototypes/GameRules/meteorswarms.yml
  Resources/Prototypes/_EinsteinEngines/Body/Organs/shadowkin.yml
  Resources/Prototypes/_EinsteinEngines/Entities/Mobs/Species/shadowkin.yml
  Resources/Prototypes/_Goobstation/game_presets.yml
  Resources/Prototypes/_Goobstation/tags.yml
  Resources/Prototypes/game_presets.yml
  Resources/ServerInfo/Guidebook/ServerRules/RoleplayRules/RuleR15EORG.xml
Labels: size/M

#75 ShockCollar
  Content.Pirate.Server/Item/ShockCollar/ShockCollarComponent.cs
  Content.Pirate.Server/Item/ShockCollar/ShockCollarSystem.cs
  Resources/Prototypes/Catalog/Fills/Lockers/security.yml
  Resources/Prototypes/Recipes/Lathes/Packs/security.yml
  Resources/Prototypes/Research/arsenal.yml
  Resources/Prototypes/_Pirate/Entities/Objects/Devices/shock_collar.yml
  Resources/Prototypes/_Pirate/Recipes/Lathes/security.yml
  Resources/Textures/_Pirate/Clothing/Neck/Misc/shock.rsi/equipped-NECK.png
  Resources/Textures/_Pirate/Clothing/Neck/Misc/shock.rsi/icon.png
  Resources/Textures/_Pirate/Clothing/Neck/Misc/shock.rsi/meta.json
Labels: size/M

#76 Salvage Shuttle
  Resources/Maps/_Pirate/Shuttles/shuttle_salvage.yml
  Resources/Maps/_Pirate/box.yml
  Resources/migration.yml
Labels: size/L

#84 Поправив текстурку
  Resources/Textures/_Pirate/Clothing/Uniforms/Jumpskirt/headmaid.rsi/equipped-INNERCLOTHING.png
Labels: size/XS

#85 Якісь там фікси
  Resources/Audio/_Pirate/Voice/Vulpkanin/fox_gekker1.ogg
  Resources/Audio/_Pirate/Voice/Vulpkanin/fox_gekker2.ogg
  Resources/Audio/_Pirate/Voice/Vulpkanin/fox_gekker3.ogg
  Resources/Locale/uk-UA/speech/speech-chatsan.ftl
  Resources/Prototypes/Catalog/Fills/Crates/medical.yml
  Resources/Prototypes/Catalog/Fills/Lockers/security.yml
  Resources/Prototypes/_DV/Voice/speech_emote_sounds.yml
  Resources/Prototypes/_Pirate/Entities/Mobs/Customization/varen.yml
  Resources/Prototypes/_Pirate/Entities/Mobs/Customization/varen_hair.yml
  Resources/Prototypes/_Pirate/SoundCollections/vulpkanin.yml
  Resources/Textures/Clothing/Uniforms/Jumpsuit/brigmedic.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/Clothing/Uniforms/Jumpsuit/hos.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/Clothing/Uniforms/Jumpsuit/security.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/Clothing/Uniforms/Jumpsuit/senior_officer.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/Clothing/Uniforms/Jumpsuit/warden.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/_Pirate/Mobs/Customization/tail_fan.rsi/tail_fan_wag-tip.png
  Resources/Textures/_Pirate/Mobs/Customization/tail_fan.rsi/tail_fan_wag.png
  Resources/Textures/_Pirate/Mobs/Customization/varen/hair.rsi/meta.json
  Resources/Textures/_Pirate/Mobs/Customization/varen/hair.rsi/susieHair.png
  Resources/Textures/_Pirate/Mobs/Customization/varen/tail_fan.rsi/meta.json
  Resources/Textures/_Pirate/Mobs/Customization/varen/tail_fan.rsi/tail_fan_wag-tip.png
  Resources/Textures/_Pirate/Mobs/Customization/varen/tail_fan.rsi/tail_fan_wag.png
  Resources/Textures/_Pirate/Mobs/Customization/varen_hair.rsi/judyHair.png
Labels: size/M
