Repository SpaceStationUA/Goob-Station, pull requests merged in 2025-07, with the labels that each got.

#16 Auto vote in lobby
  Content.Pirate.Common/Voting/LobbyReadyUpEvent.cs
  Content.Pirate.Server/Voting/AutoVoteSystem.cs
  Content.Server/GameTicking/GameTicker.RoundFlow.cs
Labels: size/S

#18 More guidebooks translated
  Resources/ServerInfo/Guidebook/Service/FoodRecipes.xml
  Resources/ServerInfo/Guidebook/Service/OtherRecipes.xml
  Resources/ServerInfo/Guidebook/Service/PastaRecipes.xml
  Resources/ServerInfo/RP_Rules.txt
  Resources/ServerInfo/_Goobstation/Guidebook/SoP/Jobs/Command/HeadOfPersonnelSOP.xml
  Resources/ServerInfo/_Goobstation/Guidebook/SoP/Jobs/Service/ReporterSOP.xml
  Resources/ServerInfo/_Goobstation/Guidebook/SoP/Jobs/Service/ServiceSOP.xml
  Resources/ServerInfo/_Goobstation/Guidebook/SoP/Legal/SearchesSOP.xml
Labels: size/M

#21 UIKit module added
  Content.Client/Content.Client.csproj
  Content.Pirate.Shared/Module/GoobModPack.cs
  Content.Pirate.UIKit/Assembly.cs
  Content.Pirate.UIKit/AssemblyInfo.cs
  Content.Pirate.UIKit/Content.Pirate.UIKit.csproj
  Content.Pirate.UIKit/Entry/EntryPoint.cs
  Content.Pirate.UIKit/GlobalUsings.cs
  SpaceStation14.sln
Labels: size/M

#25 НІ ЦЕНЗУРІ: goobstation edition
  Resources/Locale/uk-UA/speech/speech-chatsan.ftl
Labels: size/M

#26 Feature/upstream
  Content.Goobstation.Server/Changeling/ChangelingSystem.cs
  Resources/Changelog/GoobChangelog.yml
  Resources/Locale/en-US/ghost/roles/ghost-role-component.ftl
  Resources/Prototypes/Entities/Mobs/Player/ShuttleRoles/settings.yml
  Resources/Prototypes/_Goobstation/Entities/Clothing/Masks/masks.yml
  Resources/Textures/Nyanotrasen/Shaders/holographic.swsl
Labels: size/S

#27 Add files via upload
  Resources/Textures/_Pirate/creatures/KillerAmanita.rsi/Dead.png
  Resources/Textures/_Pirate/creatures/KillerAmanita.rsi/meta.json
  Resources/Textures/_Pirate/creatures/KillerAmanita.rsi/mushroom.png
Labels: size/S

#31 New traits
  Content.Client/Lobby/UI/HumanoidProfileEditor.xaml.cs
  Content.Client/Lobby/UI/Roles/TraitPreferenceSelector.xaml.cs
  Content.Pirate.Common/Traits/Lightweight/LightweightComponent.cs
  Content.Pirate.Server/Traits/LightStep/LightStepComponent.cs
  Content.Pirate.Server/Traits/LightStep/LightStepSystem.cs
  Content.Pirate.Server/Traits/PainTolerant/PainTolerantComponent.cs
  Content.Pirate.Server/Traits/PainTolerant/PainTolerantSystem.cs
  Content.Pirate.Server/Traits/TempResistant/TempResistantComponent.cs
  Content.Pirate.Server/Traits/TempResistant/TempResistantSystem.cs
  Content.Shared/_DV/Carrying/CarryingSystem.cs
  Resources/Locale/uk-UA/_Pirate/traits/quirks.ftl
  Resources/Prototypes/Traits/categories.yml
  Resources/Prototypes/Traits/disabilities.yml
  Resources/Prototypes/_Pirate/Traits/quirks.yml
Labels: size/M

#39 Feature/lemax ghost
  Resources/Prototypes/_Pirate/Ghosts/custom_ghosts.yml
  Resources/Textures/_Pirate/Ghosts/ImperiaArtSempai.rsi/animated.png
  Resources/Textures/_Pirate/Ghosts/ImperiaArtSempai.rsi/meta.json
  Resources/Textures/_Pirate/Ghosts/Omak.rsi/animated.png
  Resources/Textures/_Pirate/Ghosts/Omak.rsi/meta.json
  Resources/Textures/_Pirate/Ghosts/bunkeran.rsi/animated.png
  Resources/Textures/_Pirate/Ghosts/bunkeran.rsi/meta.json
  Resources/Textures/_Pirate/Ghosts/lemax.rsi/animated.png
  Resources/Textures/_Pirate/Ghosts/lemax.rsi/meta.json
  Resources/Textures/_Pirate/Ghosts/oxygen_femboy_terminator.rsi/animated.png
  Resources/Textures/_Pirate/Ghosts/oxygen_femboy_terminator.rsi/meta.json
Labels: size/M

#40 abductor nerf
  Content.Pirate.Server/_EinsteinEngines/Chat/Chat/TelepathicChatSystem.Psychognomy.cs
  Content.Server/_Shitmed/Antags/Abductor/AbductorSystem.Actions.cs
  Resources/Prototypes/_Shitmed/Entities/Clothing/OuterClothing/armor.yml
  Resources/Textures/_Pirate/Ghosts/lemax.rsi/animated.png
  Resources/Textures/_Pirate/Ghosts/lemax.rsi/meta.json
Labels: size/S

#41 adjust events
  Resources/Prototypes/GameRules/roundstart.yml
  Resources/Prototypes/_DV/CosmicCult/roundstart.yml
  Resources/Prototypes/_Goobstation/GameRules/roundstart.yml
  Resources/Prototypes/_Goobstation/Heretic/GameRules/roundstart.yml
  Resources/Prototypes/_Goobstation/Wizard/gamerules_wizard.yml
Labels: size/S

#45 Ghost Targeting
  Content.Pirate.Server/Commands/TargetGhostCommand.cs
  Content.Pirate.Server/Systems/GhostTargetingSystem.cs
  Content.Pirate.Shared/Components/GhostTargetingComponent.cs
  Content.Pirate.Shared/GhostTargetingEvents.cs
  Content.Shared/Eye/VisibilityFlags.cs
  Resources/Prototypes/Entities/Mobs/Player/admin_ghost.yml
  Resources/Prototypes/_Pirate/Actions/targetghost.yml
Labels: size/M

#48 count of players instead of ready
  Content.Server/GameTicking/Rules/GameRuleSystem.cs
  Resources/Prototypes/GameRules/roundstart.yml
  Resources/Prototypes/_DV/CosmicCult/roundstart.yml
  Resources/Prototypes/_Goobstation/GameRules/roundstart.yml
  Resources/Prototypes/_Goobstation/Heretic/GameRules/roundstart.yml
  Resources/Prototypes/_Goobstation/Wizard/gamerules_wizard.yml
Labels: size/S

#50 Feature/upstream
  Content.Client/_Starlight/Chat/CollectiveMindSystem.cs
  Content.Goobstation.Server/Blob/NPC/BlobPod/BlobPodSystem.cs
  Content.Goobstation.Server/CloneProjector/CloneProjectorSystem.cs
  Content.Server/Chat/Systems/ChatSystem.cs
  Resources/Changelog/GoobChangelog.yml
  Resources/Prototypes/Entities/Objects/Consumable/Drinks/drinks_bottles.yml
  Resources/Prototypes/_Goobstation/Entities/Clothing/Belt/cloneprojector.yml
  Resources/Prototypes/_Goobstation/Entities/Objects/Specific/Engineering/nails.yml
  Resources/Prototypes/_Goobstation/Entities/Structures/Machines/power_laser.yml
  Resources/Prototypes/_Shitmed/Entities/Mobs/Player/abductor.yml
Labels: size/S

#51 feat: added item offer system ported from EE
  Content.Client/Input/ContentContexts.cs
  Content.Pirate.Client/OfferItem/OfferItemIndicatorsOverlay.cs
  Content.Pirate.Client/OfferItem/OfferItemSystem.cs
  Content.Pirate.Server/OfferItem/OfferItemSystem.cs
  Content.Pirate.Shared/OfferItem/OfferItemComponent.cs
  Content.Pirate.Shared/OfferItem/SharedOfferItemSystem.Interactions.cs
  Content.Pirate.Shared/OfferItem/SharedOfferItemSystem.cs
  Content.Shared/Input/ContentKeyFunctions.cs
  Resources/Locale/en-US/interaction/offer-item-system.ftl
  Resources/Prototypes/Alerts/alerts.yml
  Resources/Prototypes/Entities/Mobs/Species/base.yml
  Resources/Prototypes/_Pirate/Alerts/alerts.yml
  Resources/Textures/_Pirate/Interface/Alerts/offer_item.rsi/meta.json
  Resources/Textures/_Pirate/Interface/Alerts/offer_item.rsi/offer_item.png
  Resources/Textures/_Pirate/Interface/Misc/give_item.rsi/give_item.png
  Resources/Textures/_Pirate/Interface/Misc/give_item.rsi/meta.json
  Resources/keybinds.yml
Labels: size/M

#52 plant analyzer
  Content.Pirate.Client/Botany/PlantAnalyzer/PlantAnalyzerBoundUserInterface.cs
  Content.Pirate.Client/Botany/PlantAnalyzer/PlantAnalyzerWindow.xaml
  Content.Pirate.Client/Botany/PlantAnalyzer/PlantAnalyzerWindow.xaml.cs
  Content.Pirate.Server/AbstractAnalyzer/AbstractAnalyzerComponent.cs
  Content.Pirate.Server/AbstractAnalyzer/AbstractAnalyzerSystem.cs
  Content.Pirate.Server/Botany/Components/PlantAnalyzerComponent.cs
  Content.Pirate.Server/Botany/Systems/PlantAnalyzerSystem.cs
  Content.Pirate.Shared/Botany/PlantAnalyzer/PlantAnalyzerDoAfterEvent.cs
  Content.Pirate.Shared/Botany/PlantAnalyzer/PlantAnalyzerLocalizationHelper.cs
  Content.Pirate.Shared/Botany/PlantAnalyzer/PlantAnalyzerScannedUserMessage.cs
  Content.Pirate.Shared/Botany/PlantAnalyzer/PlantAnalyzerUiKey.cs
  Content.Server/Botany/Systems/BotanySystem.Seed.cs
  Content.Server/EntityEffects/Effects/PlantMetabolism/PlantAdjustPests.cs
  Content.Server/EntityEffects/Effects/PlantMetabolism/PlantAdjustToxins.cs
  Content.Server/EntityEffects/Effects/PlantMetabolism/PlantAdjustWeeds.cs
  Resources/Locale/en-US/botany/components/plant-analyzer-component.ftl
  Resources/Locale/en-US/botany/plant-analyzer.ftl
  Resources/Prototypes/Catalog/Fills/Lockers/service.yml
  Resources/Prototypes/Catalog/VendingMachines/Inventories/nutri.yml
  Resources/Prototypes/Entities/Clothing/Belt/belts.yml
  Resources/Prototypes/_Pirate/Entities/Objects/Specific/Hydroponics/plant_analyzer.yml
  Resources/Prototypes/_Pirate/Recipes/Lathes/botany.yml
  Resources/Textures/_Pirate/Objects/Specific/Hydroponics/plant_analyzer.rsi/analyzer.png
  Resources/Textures/_Pirate/Objects/Specific/Hydroponics/plant_analyzer.rsi/icon.png
  Resources/Textures/_Pirate/Objects/Specific/Hydroponics/plant_analyzer.rsi/meta.json
Labels: size/L

#54 Mantis fix
  Content.Pirate.Server/Traits/Vampirism/BloodSuckerSystem.cs
  Content.Server/Body/Systems/BloodstreamSystem.cs
  Resources/Locale/uk-UA/_Pirate/job/job-names.ftl
  Resources/Prototypes/_EinsteinEngines/Entities/Objects/Devices/Electronics/door_access.yml
  Resources/Prototypes/_EinsteinEngines/Entities/Structures/Doors/Airlocks/access.yml
  Resources/Prototypes/_Pirate/Roles/Jobs/AlternativeJobs.yml
  Resources/migration.yml
Labels: size/S

#55 Document printer
  Resources/Locale/en-US/_Pirate/paper/doc-printer.ftl
  Resources/Locale/en-US/_Pirate/paper/lathe-categories.ftl
  Resources/Locale/en-US/_Pirate/paper/stack.ftl
  Resources/Locale/en-US/_Pirate/prototypes/catalog/fills/paper/document.ftl
  Resources/Locale/en-US/_Pirate/prototypes/entities/objects/devices/circuitboards/machine/production.ftl
  Resources/Locale/en-US/_Pirate/prototypes/entities/objects/materials/sheets/other.ftl
  Resources/Locale/en-US/_Pirate/prototypes/entities/objects/misc/flatpacks.ftl
  Resources/Locale/en-US/_Pirate/prototypes/entities/structures/machines/printer.ftl
  Resources/Prototypes/Catalog/Fills/Lockers/heads.yml
  Resources/Prototypes/Catalog/VendingMachines/Inventories/curadrobe.yml
  Resources/Prototypes/Entities/Objects/Misc/paper.yml
  Resources/Prototypes/_Goobstation/Recipes/Lathes/Packs/circuits.yml
  Resources/Prototypes/_Pirate/Catalog/Fills/Paper/document.yml
  Resources/Prototypes/_Pirate/Entities/Objects/Devices/Circuitboards/Machine/production.yml
  Resources/Prototypes/_Pirate/Entities/Objects/Materials/Sheets/other.yml
  Resources/Prototypes/_Pirate/Entities/Objects/Misc/flatpacks.yml
  Resources/Prototypes/_Pirate/Entities/Structures/Machines/printer.yml
  Resources/Prototypes/_Pirate/Lathes/misc.yml
  Resources/Prototypes/_Pirate/Reagents/Materials/materials.yml
  Resources/Prototypes/_Pirate/Recipes/Lathes/categories.yml
  Resources/Prototypes/_Pirate/Recipes/Lathes/packs.yml
  Resources/Prototypes/_Pirate/Recipes/Lathes/printer.yml
  Resources/Prototypes/_Pirate/Stack/other_stacks.yml
  Resources/Textures/_Pirate/Structures/Machines/printer.rsi/building.png
  Resources/Textures/_Pirate/Structures/Machines/printer.rsi/icon.png
  Resources/Textures/_Pirate/Structures/Machines/printer.rsi/idle.png
  Resources/Textures/_Pirate/Structures/Machines/printer.rsi/inserting.png
  Resources/Textures/_Pirate/Structures/Machines/printer.rsi/meta.json
  Resources/Textures/_Pirate/Structures/Machines/printer.rsi/panel.png
Labels: size/L
