Repository SpaceStationUA/Goob-Station, pull requests merged in 2025-06, with the labels that each got.

#2 adding aiming files from https://github.com/SpaceStationUA/station/pu…
  Content.Pirate.Shared/Aiming/CanTakeAimComponent.cs
  Content.Pirate.Shared/Aiming/Events/OnAimerShootingEvent.cs
  Content.Pirate.Shared/Aiming/Events/OnAimingTargetMoveEvent.cs
  Content.Pirate.Shared/Aiming/OnSightComponent.cs
  Content.Pirate.Shared/Aiming/SharedCanTakeAimSystem.cs
  Content.Pirate.Shared/Aiming/SharedOnSightSystem.cs
  Resources/Prototypes/Entities/Objects/Weapons/Guns/HMGs/hmgs.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/LMGs/lmgs.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Launchers/launchers.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Pistols/pistols.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Revolvers/revolvers.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Rifles/rifles.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/SMGs/smgs.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Shotguns/shotguns.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Snipers/snipers.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/flare_gun.yml
  Resources/Prototypes/_Pirate/Aiming/Alerts/alerts.yml
  Resources/Textures/_Pirate/UserInterface/Alerts/aiming.rsi/icon.png
  Resources/Textures/_Pirate/UserInterface/Alerts/aiming.rsi/meta.json
Labels: size/M

#3 Transition Text
  Content.Pirate.Client/ReactionChamber/UI/ReactionChamberWindow.xaml.cs
  Content.Pirate.Client/UserInterface/TransitionText/TransitionText.cs
  Content.Pirate.Server/ReactionChamber/Components/ReactionChamberComponent.cs
  Scripts/bat/buildPirateDebug.bat
Labels: size/M

#8 Translation datasets + maps + devil
  Content.Goobstation.Server/Devil/Contract/DevilContractSystem.cs
  Resources/Locale/uk-UA/_Goobstation/devil/contracts/contract.ftl
  Resources/Prototypes/Datasets/ion_storm.yml
  Resources/Prototypes/Maps/amber.yml
  Resources/Prototypes/Maps/arenas.yml
  Resources/Prototypes/Maps/bagel.yml
  Resources/Prototypes/Maps/box.yml
  Resources/Prototypes/Maps/centcomm.yml
  Resources/Prototypes/Maps/core.yml
  Resources/Prototypes/Maps/debug.yml
  Resources/Prototypes/Maps/fland.yml
  Resources/Prototypes/Maps/gate.yml
  Resources/Prototypes/Maps/loop.yml
  Resources/Prototypes/Maps/marathon.yml
  Resources/Prototypes/Maps/meta.yml
  Resources/Prototypes/Maps/oasis.yml
  Resources/Prototypes/Maps/omega.yml
  Resources/Prototypes/Maps/packed.yml
  Resources/Prototypes/Maps/reach.yml
  Resources/Prototypes/Maps/saltern.yml
  Resources/Prototypes/Maps/train.yml
  Resources/Prototypes/_Goobstation/Datasets/Names/devil_names.yml
  Resources/Prototypes/_Goobstation/Datasets/uplink_discount_fluff.yml
  Resources/Prototypes/_Goobstation/Maps/atlas.yml
  Resources/Prototypes/_Goobstation/Maps/barratry.yml
  Resources/Prototypes/_Goobstation/Maps/chloris.yml
  Resources/Prototypes/_Goobstation/Maps/cluster.yml
  Resources/Prototypes/_Goobstation/Maps/delta.yml
  Resources/Prototypes/_Goobstation/Maps/europa.yml
  Resources/Prototypes/_Goobstation/Maps/flandhighpop.yml
  Resources/Prototypes/_Goobstation/Maps/kettle.yml
  Resources/Prototypes/_Goobstation/Maps/lambda.yml
  Resources/Prototypes/_Goobstation/Maps/leonid.yml
  Resources/Prototypes/_Goobstation/Maps/oasishighpop.yml
  Resources/Prototypes/_Goobstation/Maps/origin.yml
  Resources/Prototypes/_Goobstation/Maps/originhighpop.yml
  Resources/Prototypes/_Goobstation/Maps/submarine.yml
  Resources/Prototypes/_Lavaland/Maps/lavatest.yml
  Resources/ServerInfo/_Goobstation/Guidebook/Antagonist/Devil.xml
Labels: size/L

#10 Feature/minor changes
  Content.Client/HealthAnalyzer/UI/HealthAnalyzerWindow.xaml
  Content.Pirate.Server/CentCom/MakeACentComSystem.cs
  Content.Pirate.Server/Mercenary/MakeAMercSystem.cs
  Resources/Locale/uk-UA/escape-menu/ui/options-menu.ftl
  Resources/Locale/uk-UA/nuke/nuke-component.ftl
  Resources/Prototypes/GameRules/roundstart.yml
  Resources/Prototypes/Maps/bagel.yml
  Resources/Prototypes/Maps/box.yml
  Resources/Prototypes/Maps/core.yml
  Resources/Prototypes/Maps/fland.yml
  Resources/Prototypes/Maps/gate.yml
  Resources/Prototypes/Maps/loop.yml
  Resources/Prototypes/Maps/marathon.yml
  Resources/Prototypes/Maps/train.yml
  Resources/Prototypes/Nyanotrasen/Species/felinid.yml
  Resources/Prototypes/_DV/CosmicCult/roundstart.yml
  Resources/Prototypes/_Goobstation/GameRules/roundstart.yml
  Resources/Prototypes/_Goobstation/Heretic/GameRules/roundstart.yml
  Resources/Prototypes/_Goobstation/Wizard/gamerules_wizard.yml
  Resources/Prototypes/_Goobstation/game_presets.yml
  Resources/Prototypes/_Pirate/Loadouts/mercenary.yml
Labels: size/S
