Repository SpaceStationUA/Goob-Station, pull requests merged in 2025-09, with the labels that each got.

#88 Add a "Фурі-томбой" alternative job name to a Captain
  Resources/Locale/uk-UA/_Pirate/job/alternative-jobs.ftl
  Resources/Prototypes/_Pirate/Roles/Jobs/AlternativeJobs.yml
Labels: size/S

#92 Бокс патч 2.1 - Плач і кашель лисиці - Нові пушки
  Content.Shared/Weapons/Ranged/Systems/SharedGunSystem.Interactions.cs
  Resources/Audio/_Pirate/Voice/Vulpkanin/fox_cry1.ogg
  Resources/Audio/_Pirate/Voice/Vulpkanin/fox_cry2.ogg
  Resources/Audio/_Pirate/Voice/Vulpkanin/fox_sneeze.ogg
  Resources/Audio/_Pirate/Weapons/Guns/Gunshots/attributions.yml
  Resources/Audio/_Pirate/Weapons/Guns/Gunshots/fpa-90-suppressed-gunshot.ogg
  Resources/Maps/_Pirate/box.yml
  Resources/Prototypes/Entities/Mobs/base.yml
  Resources/Prototypes/GameRules/events.yml
  Resources/Prototypes/Voice/disease_emotes.yml
  Resources/Prototypes/_DV/Voice/speech_emote_sounds.yml
  Resources/Prototypes/_DV/Voice/speech_emotes.yml
  Resources/Prototypes/_Pirate/Entities/Objects/Weapons/Guns/SMGs/smgs.yml
  Resources/Prototypes/_Pirate/SoundCollections/vulpkanin.yml
  Resources/Textures/_Pirate/Objects/Weapons/Guns/SMGs/BRDI_R25.rsi/base.png
  Resources/Textures/_Pirate/Objects/Weapons/Guns/SMGs/BRDI_R25.rsi/bolt-open.png
  Resources/Textures/_Pirate/Objects/Weapons/Guns/SMGs/BRDI_R25.rsi/equipped-BACKPACK.png
  Resources/Textures/_Pirate/Objects/Weapons/Guns/SMGs/BRDI_R25.rsi/equipped-SUITSTORAGE.png
  Resources/Textures/_Pirate/Objects/Weapons/Guns/SMGs/BRDI_R25.rsi/icon.png
  Resources/Textures/_Pirate/Objects/Weapons/Guns/SMGs/BRDI_R25.rsi/inhand-left.png
  Resources/Textures/_Pirate/Objects/Weapons/Guns/SMGs/BRDI_R25.rsi/inhand-right.png
  Resources/Textures/_Pirate/Objects/Weapons/Guns/SMGs/BRDI_R25.rsi/mag-0.png
  Resources/Textures/_Pirate/Objects/Weapons/Guns/SMGs/BRDI_R25.rsi/meta.json
  Resources/Textures/_Pirate/Objects/Weapons/Guns/SMGs/BRDI_R25.rsi/wielded-inhand-left.png
  Resources/Textures/_Pirate/Objects/Weapons/Guns/SMGs/BRDI_R25.rsi/wielded-inhand-right.png
  Resources/Textures/_Pirate/Objects/Weapons/Guns/SMGs/BRDI_R25_antique.rsi/base.png
  Resources/Textures/_Pirate/Objects/Weapons/Guns/SMGs/BRDI_R25_antique.rsi/bolt-open.png
  Resources/Textures/_Pirate/Objects/Weapons/Guns/SMGs/BRDI_R25_antique.rsi/icon.png
  Resources/Textures/_Pirate/Objects/Weapons/Guns/SMGs/BRDI_R25_antique.rsi/inhand-left.png
  Resources/Textures/_Pirate/Objects/Weapons/Guns/SMGs/BRDI_R25_antique.rsi/inhand-right.png
  Resources/Textures/_Pirate/Objects/Weapons/Guns/SMGs/BRDI_R25_antique.rsi/mag-0.png
  Resources/Textures/_Pirate/Objects/Weapons/Guns/SMGs/BRDI_R25_antique.rsi/meta.json
  Resources/Textures/_Pirate/Objects/Weapons/Guns/SMGs/BRDI_R25_antique.rsi/wielded-inhand-left.png
  Resources/Textures/_Pirate/Objects/Weapons/Guns/SMGs/BRDI_R25_antique.rsi/wielded-inhand-right.png
  Resources/Textures/_Pirate/Objects/Weapons/Guns/SMGs/FPA90.rsi/base.png
  Resources/Textures/_Pirate/Objects/Weapons/Guns/SMGs/FPA90.rsi/bolt-open.png
  Resources/Textures/_Pirate/Objects/Weapons/Guns/SMGs/FPA90.rsi/icon.png
  Resources/Textures/_Pirate/Objects/Weapons/Guns/SMGs/FPA90.rsi/inhand-left.png
  Resources/Textures/_Pirate/Objects/Weapons/Guns/SMGs/FPA90.rsi/inhand-right.png
  Resources/Textures/_Pirate/Objects/Weapons/Guns/SMGs/FPA90.rsi/mag-0.png
  Resources/Textures/_Pirate/Objects/Weapons/Guns/SMGs/FPA90.rsi/meta.json
Labels: size/L

#99 RE: Add an "Attorney", a "Prosecutor" and a "Clerk" job alternative names to Lawyer
  Resources/Locale/uk-UA/_Pirate/job/alternative-jobs.ftl
  Resources/Prototypes/_Pirate/Roles/Jobs/AlternativeJobs.yml
Labels: size/S

#119 Bluesec - Storage респрайт
  Resources/Maps/_Pirate/box.yml
  Resources/Prototypes/Loadouts/loadout_groups.yml
  Resources/Prototypes/Palettes/advanced.yml
  Resources/Prototypes/Palettes/departmental.yml
  Resources/Prototypes/_Pirate/Entities/Objects/Weapons/Guns/Battery/battery_guns.yml
  Resources/Prototypes/_Pirate/Loadouts/Jobs/Security/weapons.yml
  Resources/Prototypes/radio_channels.yml
  Resources/Textures/Structures/Doors/Airlocks/Glass/security.rsi/assembly.png
  Resources/Textures/Structures/Doors/Airlocks/Glass/security.rsi/closed.png
  Resources/Textures/Structures/Doors/Airlocks/Glass/security.rsi/closing.png
  Resources/Textures/Structures/Doors/Airlocks/Glass/security.rsi/open.png
  Resources/Textures/Structures/Doors/Airlocks/Glass/security.rsi/opening.png
  Resources/Textures/Structures/Doors/Airlocks/Standard/security.rsi/assembly.png
  Resources/Textures/Structures/Doors/Airlocks/Standard/security.rsi/closed.png
  Resources/Textures/Structures/Doors/Airlocks/Standard/security.rsi/closing.png
  Resources/Textures/Structures/Doors/Airlocks/Standard/security.rsi/open.png
  Resources/Textures/Structures/Doors/Airlocks/Standard/security.rsi/opening.png
  Resources/Textures/Structures/Storage/Crates/sec_gear.rsi/base.png
  Resources/Textures/Structures/Storage/Crates/sec_gear.rsi/closed.png
  Resources/Textures/Structures/Storage/Crates/sec_gear.rsi/icon.png
  Resources/Textures/Structures/Storage/Crates/sec_gear.rsi/open.png
  Resources/Textures/Structures/Storage/closet.rsi/armory.png
  Resources/Textures/Structures/Storage/closet.rsi/armory_door.png
  Resources/Textures/Structures/Storage/closet.rsi/armory_open.png
  Resources/Textures/Structures/Storage/closet.rsi/bio_sec.png
  Resources/Textures/Structures/Storage/closet.rsi/bio_sec_door.png
  Resources/Textures/Structures/Storage/closet.rsi/bio_sec_open.png
  Resources/Textures/Structures/Storage/closet.rsi/brigmedic.png
  Resources/Textures/Structures/Storage/closet.rsi/brigmedic_door.png
  Resources/Textures/Structures/Storage/closet.rsi/genpop.png
  Resources/Textures/Structures/Storage/closet.rsi/genpop_door_1.png
  Resources/Textures/Structures/Storage/closet.rsi/genpop_door_2.png
  Resources/Textures/Structures/Storage/closet.rsi/genpop_door_3.png
  Resources/Textures/Structures/Storage/closet.rsi/genpop_door_4.png
  Resources/Textures/Structures/Storage/closet.rsi/genpop_door_5.png
  Resources/Textures/Structures/Storage/closet.rsi/genpop_door_6.png
  Resources/Textures/Structures/Storage/closet.rsi/genpop_door_7.png
  Resources/Textures/Structures/Storage/closet.rsi/genpop_door_8.png
  Resources/Textures/Structures/Storage/closet.rsi/genpop_open.png
  Resources/Textures/Structures/Storage/closet.rsi/hos.png
  Resources/Textures/Structures/Storage/closet.rsi/hos_door.png
  Resources/Textures/Structures/Storage/closet.rsi/sec.png
  Resources/Textures/Structures/Storage/closet.rsi/sec_door.png
  Resources/Textures/Structures/Storage/closet.rsi/warden.png
  Resources/Textures/Structures/Storage/closet.rsi/warden_door.png
  Resources/Textures/Structures/Storage/wall_locker.rsi/genpop.png
  Resources/Textures/Structures/Storage/wall_locker.rsi/genpop_door_1.png
  Resources/Textures/Structures/Storage/wall_locker.rsi/genpop_door_2.png
  Resources/Textures/Structures/Storage/wall_locker.rsi/genpop_door_3.png
  Resources/Textures/Structures/Storage/wall_locker.rsi/genpop_door_4.png
  Resources/Textures/Structures/Storage/wall_locker.rsi/genpop_door_5.png
  Resources/Textures/Structures/Storage/wall_locker.rsi/genpop_door_6.png
  Resources/Textures/Structures/Storage/wall_locker.rsi/genpop_door_7.png
  Resources/Textures/Structures/Storage/wall_locker.rsi/genpop_door_8.png
  Resources/Textures/Structures/Storage/wall_locker.rsi/genpop_open.png
  Resources/Textures/_Pirate/Mobs/Customization/varen/tail_fan.rsi/tail_fan_wag.png
Labels: size/L, size/XL

#121 Штирь
  Resources/Prototypes/GameRules/meteorswarms.yml
Labels: size/S

#124 Slight bleeding locale fix
  Resources/Locale/uk-UA/bloodstream/bloodstream.ftl
Labels: size/XS
